<template>
    <div class="flex-1">
        <h3 class="small-caps color-primary">{{ label }}</h3>
        <span class="h1">{{ value }}</span>
    </div>
</template>

<script>
  export default {
    data () {
      return {
        value: 0,
        newValue: 0,
        refreshRate: 5000,
        countdownRate: 50
      }
    },
    props: {
      route: {
        type: String,
        required: true
      },
      label: {
        type: String,
        required: true
      }
    },
    created () {
      this.statistic().then(() => {
        this.value = this.newValue
      })
    },
    methods: {
      statistic () {
        return this.$http.get(this.route).then(response => {
          this.newValue = response.data
          this.countdownRate = Math.ceil(Math.abs(this.newValue - this.value) / (this.refreshRate / 250))

          setTimeout(this.numberCountdown, 250)
          setTimeout(this.statistic, this.refreshRate)
        }, response => {
          console.log(response)
          setTimeout(this.statistic, this.refreshRate)
        })
      },
      numberCountdown () {
        if (this.newValue === this.value) {
          return
        }

        this.modifyValue()
        setTimeout(this.numberCountdown, 250)
      },
      modifyValue () {
        if (this.newValue > (this.value + this.countdownRate)) {
          this.value += this.countdownRate
          return
        }

        if (this.newValue < (this.value - this.countdownRate)) {
          this.value -= this.countdownRate
          return
        }

        this.value = this.newValue
      }
    }
  }
</script>
