<template>
    <div>
        <div class="field" v-if="showSearch">
            <input v-model="search" placeholder="Search...">
        </div>

        <table>
            <thead>
            <tr>
                <th v-for="(column, index) in columns" scope="col">
                    <a href="#" @click.prevent="sortBy(column)" class="flex align-items-center no-underline color-primary">
                        {{ column | capitalize }}
                        <icon v-if="column === sortKey">
                            {{ reverse ? 'arrow_drop_down' : 'arrow_drop_up' }}
                        </icon>
                    </a>
                </th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr v-for="(row, index) in filteredRows">
                <td v-for="(column, index) in columns">
                    <slot :name="column" :row="row" :value="row[column]">{{ row[column] }}</slot>
                </td>
                <slot name="buttons" :id="row.id" :row="row"></slot>
            </tr>
            </tbody>
        </table>
        <slot
            name="load-more-button"
            v-if="this.perPage !== null && this.pageOffset < this.rows.length"
            :onclick="loadNextPage"
            :rowsLeft="this.rows.length - this.pageOffset"
        >
            <button @click.prevent="loadNextPage()">Load more</button>
        </slot>
    </div>
</template>

<script>
  export default {
    data () {
      return {
        sortKey: 'name',
        reverse: false,
        search: '',
        page: 1,
      }
    },

    props: {
      rows: {
        type: Array,
        required: true
      },
      columns: {
        type: Array,
        required: true
      },
      showSearch: {
        type: Boolean,
        default: true
      },
      perPage: {
        type: Number,
        default: null
      }
    },

    computed: {
      filteredRows: function () {
        let data = this.rows.filter(function (user) {
          let foundMatch;

          for (const index in this.columns) {
            const column = this.columns[index];
            const columnValue = user[column] + ''
            const value = columnValue.toLowerCase();
            foundMatch = value.indexOf(this.search.toLowerCase()) !== -1;

            if (foundMatch) {
              break;
            }
          }

          return foundMatch;
        }.bind(this));

        const order = this.reverse ? 'asc' : 'desc';

        data = _.orderBy(data, this.sortKey, order);

        if (this.perPage === null) {
          return data
        }

        return data.slice(0, this.page * this.perPage)
      },
      pageOffset: function () {
        return this.page * this.perPage
      },
    },

    methods: {
      sortBy: function (sortKey) {
        this.reverse = (this.sortKey === sortKey) ? !this.reverse : false;
        this.sortKey = sortKey;
      },
      loadNextPage: function () {
        this.page++
      }
    },

    filters: {
      capitalize: function (text) {
        return text[ 0 ].toUpperCase() + text.slice(1)
      }
    }
  }
</script>
