<template>
    <div v-if="jobBlocks === null" class="padding-xs flex flex-wrap justify-content-center">
        <p class="text-center color-grey-100">Loading jobs</p>
        <div class="spinner spinner-alone"></div>
    </div>
    <div v-else>
        <div v-for="(row, index) in jobBlocks">
            <div class="padding-xs">
                <h4 class="flex justify-content-space-between align-items-center">
                    {{ row.name }} <span class="small-caps color-light-700">{{ row.values.length }} jobs</span>
                </h4>
                <button class="button button-xs button-border error margin-bottom-xs">Delete job block</button>
                <vue-table
                    :rows=row.values
                    :columns="['attempts', 'data']"
                    :show-search="false"
                    :per-page="10"
                >
                    <template slot="data" slot-scope="props">
                        <code>{{ props.value }}</code>
                    </template>
                    <template slot="load-more-button" slot-scope="props">
                        <div class="text-center">
                            <button
                                class="button button-border button-xs margin-top-xs"
                                @click.prevent="props.onclick"
                            >
                                Load next 10 ({{ props.rowsLeft }} left)
                            </button>
                        </div>
                    </template>
                </vue-table>
            </div>
            <hr class="no-margin">
        </div>
    </div>
</template>

<script>
  export default {
    name: "jobs",
    props: {
      queue: {
        type: String,
        required: true,
      }
    },
    data () {
      return {
        jobBlocks: null
      }
    },
    created () {
        this.getJobs()
    },
    methods: {
      route,
      getJobs () {
        this.$http.get(route('api.jobs.show', {queue: this.queue})).then((response) => {
          this.jobBlocks = response.data

          setTimeout(this.getJobs, 10000)
        }, () => {
          setTimeout(this.getJobs, 10000)
        })
      }
    }
  }
</script>
