<template>
    <div v-if="queues === null">
        <p class="text-center color-grey-100">Loading queues</p>
        <div class="spinner spinner-alone"></div>
    </div>
    <vue-table
        v-else
        :rows=queues
        :columns="['name', 'total']"
    >
        <template slot="buttons" slot-scope="props">
            <td class="flex justify-content-flex-end">
                <button
                    class="button warning button-border button-xs margin-right-xs"
                    v-on:click.once="pause(props.row.name)"
                >
                    Pause
                </button>
                <a class="button info button-border button-xs" :href="route('jobs.show', { queue: props.row.name })">
                    View Jobs
                </a>
            </td>
        </template>
    </vue-table>
</template>

<script>
  export default {
    name: "queues",
    data () {
      return {
        queues: null
      }
    },
    created () {
        this.getQueues()
    },
    methods: {
      pause (queue) {
        // TODO: post to queue
        console.log(queue)
      },
      route,
      getQueues () {
        this.$http.get(route('api.jobs')).then((response) => {
          this.queues = response.data

          setTimeout(this.getQueues, 5000)
        }, () => {
          setTimeout(this.getQueues, 5000)
        })
      }
    }
  }
</script>

<style scoped>

</style>
