@import '~turretcss/turret/turret.css';
@import 'icons.css';
@import 'navigation.css';

:root {
    --root-size: 18px;

    --font-size-xxl: 1.5rem;
    --h2-font-size: 1.25rem;
    --line-height: 1.6;
    --paragraph-line-height: var(--line-height);

    --primary: #003049;
    --secondary: #D62828;
    --tertiary: #F77F00;
    --color: #545454;
    --background: var(--light-200);
    --code-color: var(--color);

    --table-background: var(--white);
    --table-head-background: var(--white);
    --table-border-width: 0;
    --table-head-color: var(--info);
    --table-head-font-weight: var(--font-weight-medium);
    --table-margin: 0;


    --link-text-decoration: none;
    --link-color: var(--primary-300);
    --link-hover-color: var(--primary-500);

    --nav-inline-item-margin: 0 0.75rem;
    --nav-item-padding: 0;

    --field-margin: 0 0 var(--margin-xs) 0;
    --input-background: var(--white);

    --card-border-radius: 6px;

    --container-xl: 60rem;
    --container-l: 50rem;
    --container-m: 45rem;
    --container-s: 100%;
    --container-xs: 100%;
}

.card {
    box-shadow: 0 1.25rem 30px 0 rgba(0,0,0,0.15);
    border-radius: var(--card-border-radius);
    background: white;
}

.flex-2 {
    flex: 2 1 auto;
}

.flex-basis-100 {
    flex-basis: 100%;
}

.flex-basis-25 {
    flex-basis: 25%;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.full-width {
    width: 100%;
}

.border-top-radius {
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

.border-bottom-radius {
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}

.border-top-width-m {
    border-top-width: 1rem;
}

.border-top-width-xs {
    border-top-width: 0.25rem;
}

.no-underline {
    text-decoration: none;
}

.no-underline:hover {
    text-decoration: none;
}

@media (--s-down) {
    :root {
        --card-padding: var(--space-xs);
    }

    .flex-basis-100-s-down {
        flex-basis: 100%;
    }

    .no-padding-s-down {
        padding: 0;
    }
}

.font-size-xxl {
    font-size: var(--font-size-xxl);
}

.container-s {
    max-width: var(--max-width-s);
}

.button-icon {
    padding: 0 var(--padding-xs);
    display: flex;
    justify-content: center;
}

.badge {
    padding: calc(var(--padding-xs) / 4) calc(var(--padding-xs) / 2);
    display: inline-block;
    background-color: var(--grey);
    color: var(--white);
    border-radius: var(--border-radius);
}

.badge.success {
    background-color: var(--success-200);
}

.min-height-m {
    min-height: var(--line-height)rem;
}

@media(--m-up) {
    .margin-right-xs-m-up {
        margin-right: var(--margin-xs);
    }
}

.spinner-alone {
    height: 35px;
}

