@font-face {
    font-family: 'Material-Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material-Icons'),
    url('../fonts/Material-Icons.woff') format('woff'),
    url('../fonts/Material-Icons.ttf') format('truetype'),
    url('../fonts/Material-Icons.svg') format('svg');
}

.material-icons {
    font-family: 'Material-Icons', 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
    font-variant-ligatures: discretionary-ligatures;
}
