.header-wrapper {
    border-bottom: 5px solid transparent;
    position: relative;
    background: white;
}

.header-wrapper:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    height: 5px;
    width: 100%;
    background-size: 100% 5px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-image:
            linear-gradient(to right, transparent 0%, transparent 100%),
            linear-gradient(to right, var(--primary) 0%, var(--primary-200) 100%);
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.header .logo {
    padding: var(--padding-xs) 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 25%;
}

.header-bar-container {
    flex: 1;
    flex-grow: 2;
}

.header-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation-bar [role=menuitem] {
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-family: var(--headings-font-family);
    letter-spacing: var(--letter-spacing-m);
    margin: var(--nav-inline-item-margin);
}

.navigation-bar .active {
    color: var(--secondary);
}

.navigation-bar .link {
    width: var(--container-s);
    display: block;
    padding: var(--nav-item-padding);
}

.header [id="menu_toggle"]:checked ~ .navigation-bar {
    display: block;
}

.header .header-button-container {
    display: none;
}

.header .header-button {
    padding: calc(var(--space-xs) / 2) var(--space-xs);
    display: flex;
    user-select: none;
    cursor: pointer;
}

@media (--s-down) {
    .header-bar-container {
        width: var(--container-s);
        display: none;
        flex-basis: var(--container-s);
        margin: 0 var(--margin-xs) var(--margin-xs);
    }

    .navigation-bar {
        margin-bottom: 0;
    }

    .header .header-button-container {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .header-bar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header {
        align-items: normal;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .header-bars {
        flex-direction: row;
    }

    .header .logo {
        padding: var(--padding-xs) var(--padding-xs) var(--padding-xs) 0;
    }

    .navigation-bar [role=menuitem] {
        margin: 0.25rem 0;
        flex: 1 0 var(--container-s);
    }

    .navigation-bar .link {
        padding: 0.75rem 0;
    }
}
